body {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

* {
	box-sizing:inherit;
	outline: 1px solid;
}

.float-left {
	float:left;
}

.media {
	background-color:#888;
	width:100%;
	height:auto;
	overflow:hidden;
}

.media_object {
	width:calc(25% - 10px);
	margin:5px;
}

.media_body {
	width:calc(75% - 10px);
	margin:5px;
}
