.form-container {
	margin:0 auto;
	padding:0;
	width:90%;
	height:15rem;
}

.form {
	display:flex;	
	align-items:center;
	box-sizing:border-box;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	padding:2rem 0;
} 

.container-input {
	width:100%;
	height:2rem;
	display:flex;
}

.container-input input {
	width:100%;
	height:100%;
}

.input {
	margin:0;
	padding:0;
	border:1px solid #eee;
	background-color:#fff;
	box-sizing:border-box;
	border-radius:2px;
}

.input[type="submit"]:focus,
.input[type="submit"]:hover {
	border:1px solid #fff;
	background-color:#eee;	
	cursor:pointer;
}

.input:focus {
	outline:none;
}

.input::-webkit-input-placeholder {
	font-size:11px;
	text-align:center;
	text-transform:capitalize;
}

@media all and (min-width:20em) {
	.form-container {
		width:15em;
		margin:0 auto;
	}
}
